.div-container {
  width: 95%;
  border: 2px solid green;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

.product {
  width: 107px;
  border: 2px solid green;
  padding: 10px;
  margin: 20px;
  height: 86px;
  display: inherit;
}

.submit-btn 
{
	position: absolute;
	top: 41px;
	width: 111px;
	right: 40px;
}

.field 
{
	margin-bottom: 13px;
}

.save-btn 
{
	position: absolute;
	top: 55px;
	left: 93%;
}

.cancel-btn 
{
	position: relative;
	left: 87%;
}

.add-btn
{
	position: relative;
    left: 85%;
    top: -13px;
}